################################################################################
# Unity 標準 .gitignore
################################################################################

# 自動生成・一時ファイル（無視する項目）
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# アセットのメタデータは「必ず同期する」
!/[Aa]ssets/**/*.meta

# エディタ・IDEのキャッシュ・設定ファイル
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# クラッシュレポート・ビルド出力
sysinfo.txt
*.apk
*.aab
*.unitypackage
crashlytics-build.properties

# ユーザー固有のエディタレイアウト設定
/UserSettings/

# OS生成ファイル
.DS_Store
Thumbs.db

# 大容量の TextMesh Pro 生成フォントを除外
Assets/Scenes/Game Folder/Font Folder/* SDF.asset
################################################################################
# ※プロジェクト固有で「Git管理から外したい大容量動画」などがある場合のみ以下に記述
################################################################################
# 例: /Assets/Scenes/movie/*.mp4
/Assets/Scenes/movie/acceleration.mp4
/Assets/Scenes/movie/attack 1.mp4
/Assets/Scenes/movie/attack.mp4
/Assets/Scenes/movie/defense.mp4
/Assets/Scenes/movie/move.mp4
/Assets/Scenes/movie/reticle.mp4
/Assets/Scenes/movie/Tracking.mp4
/Assets/Scenes/SkySeries Freebie
*_Data/
*.resS
*.resource